*.png
*.pdf
*.csv
*.pyc
*.pth
*.json
*.0
.ipynb_checkpoints
*.avi
*.mp4
*.gif
*.zip
*.jpg
*.xlsx
.mypy_cache/
src/fig/
src/times/
src/__pycache__/
src/angles/
models/__pycache__/
tool/__pycache__/
utils/__pycache__/
